*{
	margin: 0 auto;
	padding: auto;
	box-sizing: border-box;
	clear: both;
	text-align: center;
}

.red{
	background-color: #eb4d4b;
}
.orange{
	background-color: #f0932b;
}
.green{
	background-color: #6ab04c;
}


h1{
	margin-top: 20px;
	margin-bottom: 40px;
	/*font: Arial;*/
	font-family: Arial, Helvetica, sans-serif;
	font-family: cursive;
}
section>header{
	margin:0px;
	position: relative;
	top:0px;
	right: 0px;
	/*border: 1px solid black; */
	border-left:1px solid black;
	border-bottom: 1px solid black;
	padding: 5px 30px 5px 30px;
	float:right;
	
	background-color: #fff;
	
	font-family: cursive;
	font-style: bold;
	font-style: italic;
}
div>div{
	padding: 4px;
	border:1px solid transparent;
	width: 32.33%;
	display: inline-block;
}

div > section {

	/*margin: 0.5%; */
	border: 1px solid black;
	background-color: #dfe4ea;
	font-size: 18px;
}

article{
	padding: 14px;
} 
.container{
	/*width: 30%;*/
	/*float: left;		not working*/
	display: inline-block;
}

/* -------------Responsive--------------*/

@media (min-width: 768px) and (max-width: 991px) {
	div>div.col-med-6{
		padding: 4px;
		border:1px solid transparent;
		width:49%;
		display: inline-block;
	}
	.col-med-12{
		padding: 4px;
		border:1px solid transparent;
		width: 100%;
		display: block;
	}
	
}

@media (max-width: 767px) {

	div>div{
	padding: 4px;
	border:1px solid transparent;
	width: 100%;
	display: inline-block;
	}
	
}
























